In [1]:
# ─── Block 1: SETUP + TOP-100 USDT-M FUTURES (last 21 days) ────────────────
from datetime import datetime, timezone, timedelta
import ccxt, pandas as pd, time
from bisect import bisect_right

# 0) FIXED WINDOW: days ago → now
spans    = 9
now_utc  = datetime.now(timezone.utc)
start    = now_utc - timedelta(days=spans)
end      = now_utc

# print(f"→ Window: {start.isoformat()} → {end.isoformat()}")

# to ms, bump exact-midnight end forward by 1 ms
start_ms = int(start.timestamp() * 1000)
end_ms   = int(  end.timestamp() * 1000)
if end_ms % 86_400_000 == 0:
    end_ms += 86_400_000 - 1

# 1) CCXT FUTURES CLIENT
binance = ccxt.binance({
    'options':        {'defaultType': 'future'},
    'enableRateLimit': True,
})


# 2) TRY to GET 24 h STATS
try:
    n=100
    raw24 = binance.fapiPublicGetTicker24hr()    # GET /fapi/v1/ticker/24hr
    usdt  = [t for t in raw24 if t['symbol'].endswith('USDT')]
    topn  = sorted(usdt, key=lambda x: float(x['quoteVolume']), reverse=True)[:n]
    symbols = [ t['symbol'][:-4] + '/USDT' for t in topn ]
    # print(f"Top {len(symbols)} USDT-M futures by 24 h volume:")
    # print(symbols)
except Exception as e:
    # print(f"⚠️  Cannot fetch futures tickers ({e}), falling back to symbols.txt")
    # Load a pre-prepared file of one-per-line SYMBOL/USDT
    with open('symbols.txt') as f:
        symbols = [l.strip() for l in f if l.strip()]

In [2]:
# ─── Block 2: fetch_ohlcv_until() + scan_symbol() ───────────────────────────
import numpy as np
from ta.trend      import MACD, ADXIndicator, EMAIndicator
from ta.volatility import AverageTrueRange
from ta.momentum   import RSIIndicator
import ta  # for MFI

def fetch_ohlcv_until(symbol, timeframe, start_ms, end_ms, limit=1500):
    all_bars, cursor = [], start_ms
    # delay = binance.rateLimit/1000
    while True:
        batch = binance.fetch_ohlcv(symbol, timeframe, since=cursor, limit=limit)
        if not batch: break
        last = batch[-1][0]
        all_bars += batch
        # print(f"  • fetched {len(batch)} bars → {pd.to_datetime(last,unit='ms')} UTC")
        if last >= end_ms:
            all_bars = [b for b in all_bars if b[0] <= end_ms]
            # print("    ▶ reach end_ms, stopping.")
            break
        cursor = last+1
        # time.sleep(delay)
        if len(batch)<limit: break

    df = pd.DataFrame(all_bars, columns=['ts','open','high','low','close','volume'])
    df['timestamp'] = pd.to_datetime(df['ts'],unit='ms')
    df.set_index('timestamp',inplace=True)
    df.drop('ts',axis=1,inplace=True)
    df = df[(df.index>=pd.to_datetime(start_ms,unit='ms'))
          & (df.index<=pd.to_datetime(end_ms,  unit='ms'))]
    df.index = df.index.tz_localize('UTC').tz_convert('Asia/Bangkok')
    return df

def safe_round(value, ndigits=0):
    if isinstance(value, (int, float)):
        return round(value, ndigits)
    return value  # Leave it unchanged if not a number

def scan_symbol(symbol, start_ms, end_ms):
    print(f"▶ scanning {symbol}")
    # 1) fetch 15m + warmup 4h
    df15 = fetch_ohlcv_until(symbol, '15m', start_ms, end_ms)
    MS4H = 4*60*60*1000
    warm = start_ms - (14*10 + 5)*MS4H
    raw4 = fetch_ohlcv_until(symbol, '4h', warm, end_ms)
    # slice raw4 → exact window
    sdt = pd.to_datetime(start_ms,unit='ms',utc=True).tz_convert('Asia/Bangkok')
    edt = pd.to_datetime(end_ms,  unit='ms',utc=True).tz_convert('Asia/Bangkok')
    df4  = raw4.loc[sdt:edt]

    # 2) merge 4h → 15m
    # ─── 4h → 15m ATR & ADX (guard against too-short history + catch errors) ──────────────────
    WINDOW = 14

    if len(raw4) < WINDOW + 1:
        # Not enough 4h bars to compute a 14-period indicator
        atr4 = pd.Series(0.0, index=df15.index)
        adx4 = pd.Series(0.0, index=df15.index)
    else:
        # ATR(14)
        atr4 = AverageTrueRange(
            high= raw4['high'],
            low=  raw4['low'],
            close=raw4['close'],
            window=WINDOW
        ).average_true_range()

        # ADX(14) with exception handling
        try:
            adx_series = ADXIndicator(
                high= raw4['high'],
                low=  raw4['low'],
                close=raw4['close'],
                window=WINDOW,
                fillna=False
            ).adx()
            adx4 = adx_series.fillna(0)
        except Exception as e:
            # print(f"    ⚠️ ADX calculation failed for {symbol}: {e}. Zero-filling it.")
            adx4 = pd.Series(0.0, index=raw4.index)

    # forward-fill onto the 15m frame
    df15['ATR_4h'] = atr4.reindex(df15.index, method='ffill')
    df15['ADX_4h'] = adx4.reindex(df15.index, method='ffill')

    # 3) 15m indicators
    macd = MACD(df15['close'])
    df15['MACD_line']   = macd.macd()
    df15['MACD_signal'] = macd.macd_signal()
    df15['MACD_hist']   = macd.macd_diff()
    df15['MFI']   = ta.volume.money_flow_index(df15['high'],df15['low'],df15['close'],df15['volume'],14)
    df15['EMA50'] = EMAIndicator(df15['close'],50).ema_indicator()
    df15['EMA100']= EMAIndicator(df15['close'],100).ema_indicator()
    df15['RSI']   = RSIIndicator(df15['close'],14).rsi()
    df15['ATR']   = AverageTrueRange(df15['high'],df15['low'],df15['close'],14).average_true_range()
    df15['ATR30']= df15['ATR'].rolling(30).mean()
    df15['ADX']  = ADXIndicator(df15['high'],df15['low'],df15['close'],14).adx()
    df15.dropna(inplace=True)

    # 4) pivots
    pw = 14

    # 1) Trailing pivot highs: current high is the max of itself + previous pw bars
    df15['is_pivot_high'] = (
        df15['high']
        .rolling(window=pw+1)                # trailing window of size pw+1
        .apply(lambda x: np.argmax(x) == pw, raw=True)
    )

    # 2) Trailing pivot lows: current low is the min of itself + previous pw bars
    df15['is_pivot_low']  = (
        df15['low']
        .rolling(window=pw+1)
        .apply(lambda x: np.argmin(x) == pw, raw=True)
    )

    # 3) Extract the times & values for your R:R logic
    highs = df15.loc[df15['is_pivot_high'] == 1, 'high']
    lows  = df15.loc[df15['is_pivot_low']  == 1, 'low']

    HT, HV = highs.index.tolist(), highs.values.tolist()
    LT, LV = lows.index.tolist(),  lows.values.tolist()

    # 5) backtest exactly as before
    results, active = [], False
    lev, cap, base_rr, rr_min, th = 10, 25, 1.5, 0.15, 25
    risk_th = 0.75
    fee = 0.0005
    for i in range(1,len(df15)):
        r, p = df15.iloc[i], df15.iloc[i-1]
        now  = r.name

        if not active:
            # trend filter
            if r['ADX_4h']<th: continue
            else:
                # LONG
                if ( r['high']>=r['EMA50'] and r['EMA50']>r['EMA100']
                and p['MFI']<=55        and r['MFI']>=55
                and r['MACD_hist']>0):
                    entry, entry_t, side = r['close'], now, 'long'

                    risk = r['ATR_4h']*risk_th
                    stop = entry-risk
                    idx  = bisect_right(HT,entry_t)
                    cand = HV[idx] if idx<len(HV) else entry+base_rr*risk
                    tp   = cand if cand>entry else entry+base_rr*risk
                    rr   = (tp-entry)/risk
                
                    # ❌ only go active if R:R > RR_MIN
                    if rr <= rr_min:
                        continue

                    active = True

                # SHORT
                elif ( r['low']<=r['EMA50'] and r['EMA50']<r['EMA100']
                    and p['MFI']>=45 and r['MFI']<=45
                    and r['MACD_hist']<0):
                    entry, entry_t, side = r['close'], now, 'short'

                    risk = r['ATR_4h']*risk_th
                    stop = entry+risk
                    idx  = bisect_right(LT,entry_t)
                    cand = LV[idx] if idx<len(LV) else entry-risk*base_rr
                    tp   = cand if cand<entry else entry-risk*base_rr
                    rr   = abs((tp-entry)/risk)

                    # ❌ only go active if R:R > 1
                    if rr <= rr_min:
                        continue
                    
                    active = True

                else:
                    continue

        else:
            lo, hi = r['low'], r['high']
            if side=='long':
                if lo<=stop: result,exit_price='loss',stop
                elif hi>=tp:   result,exit_price='win', tp
                else:          continue
            else:
                if hi>=stop:   result,exit_price='loss',stop
                elif lo<=tp:   result,exit_price='win', tp
                else:          continue

            # pnl + fees
            # pnl_pct = ((exit_price-entry)/entry)*(1 if side=='long' else -1)*lev*100
            # pnl_usd = cap*pnl_pct/100
            # not_usd = cap*lev
            # qty     = safe_round(not_usd/entry,4)
            # fees    = qty*(entry+exit_price)*0.5*fee
            # net     = pnl_usd - fees

            results.append({
                'symbol':      symbol,
                'side':        side,
                'entry_time':  entry_t,
                'exit_time':   now,
                'entry_price': entry,
                'stop_loss':   stop,
                'take_profit': tp,
                'exit_price':  exit_price,
                # 'volume_$':    safe_round(not_usd,2),
                # 'fees_$':      safe_round(fees,4),
                # 'pnl_%':       safe_round(pnl_pct,2),
                # 'pnl_$':       safe_round(pnl_usd,2),
                # 'net_pnl_$':   safe_round(net,2),
                'R:R':         safe_round(rr,2)
            })
            active=False
        
        if active: 

            # pnl_pct = None
            # pnl_usd = None
            # not_usd = cap*lev
            # qty     = safe_round(not_usd/entry,4)
            # fees    = None
            # net     = None
        
            results.append({
                'symbol':      symbol,
                'side':        side,
                'entry_time':  entry_t,
                'exit_time':   None,
                'entry_price': entry,
                'stop_loss':   stop,
                'take_profit': tp,
                'exit_price':  None,
                # 'volume_$':    safe_round(not_usd,2),
                # 'fees_$':      safe_round(fees,4),
                # 'pnl_%':       safe_round(pnl_pct,2),
                # 'pnl_$':       safe_round(pnl_usd,2),
                # 'net_pnl_$':   safe_round(net,2),
                'R:R':         safe_round(rr,2)
            })
    
        
    # Build results DataFrame

    result_df = pd.DataFrame(results)

    # Return early if no trades
    if result_df.empty:
        return result_df

    # Keep only the final trade
    result_df = result_df.tail(1).reset_index(drop=True)

    # Add latest price if available
    if not df15.empty:
        latest_close = df15.iloc[-1]['close']
        result_df['current_price'] = latest_close

    # Reorder columns
    column_order = [
        'symbol',
        'side',
        'entry_time',
        'exit_time',
        'entry_price',
        'current_price',
        'exit_price',
        'stop_loss',
        'take_profit',
        'R:R'
    ]
    result_df = result_df[[col for col in column_order if col in result_df.columns]]

    display(result_df)

    return result_df

In [3]:
# ─── Block 3: scan each symbol in parallel and collect only still-open trades ──
import time
import pandas as pd
from concurrent.futures import ThreadPoolExecutor, as_completed
from datetime import datetime

# rate_limit_sec = binance.rateLimit / 5000  

def _process_symbol(sym):
    # time.sleep(rate_limit_sec)
    try:
        df_trades = scan_symbol(sym, start_ms, end_ms)
        if df_trades is None or df_trades.empty or 'exit_time' not in df_trades:
            return None
        still_open = df_trades[df_trades['exit_time'].isna()].copy()
        if still_open.empty:
            return None
        still_open['symbol'] = sym
        return still_open
    except Exception as e:
        print(f"⚠️ Error processing {sym}: {e}")
        return None

open_trades = []
max_workers = 5
with ThreadPoolExecutor(max_workers=max_workers) as executor:
    futures = {executor.submit(_process_symbol, sym): sym for sym in symbols}
    for fut in as_completed(futures):
        res = fut.result()
        if res is not None:
            open_trades.append(res)

print(f"→ Window: {start.isoformat()} → {end.isoformat()}")

open_trades

▶ scanning ETH/USDT
▶ scanning BTC/USDT
▶ scanning SOL/USDT
▶ scanning ALPACA/USDT
▶ scanning 1000PEPE/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ETH/USDT,short,2025-06-14 01:15:00+07:00,2025-06-14 01:30:00+07:00,2520.65,2524.33,2508.7,2572.501978,2508.7,0.23

▶ scanning XRP/USDT

▶ scanning DOGE/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,BTC/USDT,short,2025-06-12 05:00:00+07:00,2025-06-12 05:15:00+07:00,108562.7,104951.6,108001.2,109354.700956,108001.2,0.71

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,SOL/USDT,short,2025-06-14 01:15:00+07:00,2025-06-14 01:30:00+07:00,145.11,145.06,144.23,148.191894,144.23,0.29

▶ scanning FARTCOIN/USDT
▶ scanning SUI/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,1000PEPE/USDT,short,2025-06-14 01:30:00+07:00,NaT,0.010727,0.01076,NaN,0.011103,0.010163,1.5

▶ scanning AAVE/USDT
▶ scanning NXPC/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,DOGE/USDT,long,2025-06-11 23:30:00+07:00,2025-06-12 00:45:00+07:00,0.20277,0.17619,0.198538,0.198538,0.209117,1.5

▶ scanning HYPE/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,AAVE/USDT,short,2025-06-14 01:30:00+07:00,NaT,278.01,279.88,NaN,286.4126,265.4061,1.5

▶ scanning UNI/USDT

▶ scanning ADA/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,SUI/USDT,short,2025-06-13 02:30:00+07:00,2025-06-13 02:45:00+07:00,3.3039,3.0054,3.24,3.368166,3.24,0.99

▶ scanning ENA/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,FARTCOIN/USDT,short,2025-06-13 03:45:00+07:00,2025-06-13 04:00:00+07:00,1.2988,1.1648,1.2491,1.359433,1.2491,0.82

▶ scanning WIF/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,HYPE/USDT,short,2025-06-14 01:30:00+07:00,NaT,40.464,40.48,NaN,41.836965,38.404552,1.5

▶ scanning TRUMP/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,UNI/USDT,short,2025-06-13 20:15:00+07:00,2025-06-13 22:30:00+07:00,7.253,7.431,7.498244,7.498244,6.885135,1.5

▶ scanning RESOLV/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,TRUMP/USDT,short,2025-06-14 01:30:00+07:00,NaT,9.86,9.878,NaN,10.062613,9.55608,1.5

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ENA/USDT,short,2025-06-14 01:45:00+07:00,NaT,0.2904,0.2904,NaN,0.301448,0.273828,1.5

▶ scanning BNX/USDT
▶ scanning BNB/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,WIF/USDT,short,2025-06-12 23:00:00+07:00,2025-06-13 02:30:00+07:00,0.9197,0.8295,0.9128,0.952268,0.9128,0.21

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ADA/USDT,long,2025-06-07 10:45:00+07:00,2025-06-07 12:30:00+07:00,0.6616,0.6303,0.6643,0.649848,0.6643,0.23

▶ scanning HOME/USDT
▶ scanning LINK/USDT
▶ scanning AVAX/USDT

▶ scanning RVN/USDT
▶ scanning OP/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,AVAX/USDT,short,2025-06-14 01:30:00+07:00,NaT,18.942,18.988,NaN,19.411647,18.23753,1.5

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,LINK/USDT,short,2025-06-14 01:15:00+07:00,2025-06-14 01:30:00+07:00,13.117,13.098,13.022,13.436786,13.022,0.3

▶ scanning SPX/USDT
▶ scanning VIRTUAL/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,BNB/USDT,long,2025-06-08 03:00:00+07:00,2025-06-08 04:00:00+07:00,652.08,650.36,653.26,647.292723,653.26,0.25

▶ scanning BCH/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,RVN/USDT,short,2025-06-13 20:45:00+07:00,2025-06-14 00:00:00+07:00,0.01936,0.01879,0.0189,0.020524,0.0189,0.4

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,OP/USDT,short,2025-06-14 01:15:00+07:00,2025-06-14 01:30:00+07:00,0.567,0.5644,0.558,0.586424,0.558,0.46

▶ scanning NEAR/USDT
▶ scanning DOT/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,SPX/USDT,short,2025-06-13 17:15:00+07:00,2025-06-13 17:30:00+07:00,1.3644,1.3873,1.3466,1.449223,1.3466,0.21

▶ scanning AERO/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,BCH/USDT,short,2025-06-13 18:30:00+07:00,2025-06-13 18:45:00+07:00,414.53,429.38,422.832099,422.832099,402.076851,1.5

▶ scanning LTC/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,VIRTUAL/USDT,short,2025-06-14 01:45:00+07:00,NaT,1.8225,1.8225,NaN,1.896325,1.711763,1.5

▶ scanning ANIME/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,DOT/USDT,short,2025-06-14 01:30:00+07:00,NaT,3.763,3.764,NaN,3.837576,3.651136,1.5

▶ scanning FIL/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,NEAR/USDT,short,2025-06-13 21:00:00+07:00,2025-06-13 21:15:00+07:00,2.205,2.2,2.193,2.264128,2.193,0.2

▶ scanning TIA/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,AERO/USDT,long,2025-06-13 19:00:00+07:00,2025-06-13 19:15:00+07:00,0.6356,0.6586,0.6394,0.610688,0.6394,0.15

▶ scanning WLD/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,LTC/USDT,long,2025-06-11 19:45:00+07:00,2025-06-11 20:15:00+07:00,91.9,84.12,92.34,90.664445,92.34,0.36

▶ scanning MOODENG/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,TIA/USDT,short,2025-06-14 01:45:00+07:00,NaT,1.7421,1.7421,NaN,1.800162,1.655007,1.5

▶ scanning NEIRO/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ANIME/USDT,short,2025-06-14 01:45:00+07:00,NaT,0.02326,0.02326,NaN,0.024922,0.020767,1.5

▶ scanning 1000SHIB/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,FIL/USDT,long,2025-06-11 19:30:00+07:00,2025-06-11 21:15:00+07:00,2.729,2.392,2.748,2.686629,2.748,0.45

▶ scanning CRV/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,WLD/USDT,short,2025-06-06 18:30:00+07:00,2025-06-06 21:15:00+07:00,1.0512,0.972,1.07923,1.07923,1.009155,1.5

▶ scanning ONDO/USDT
▶ scanning TRX/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,TRX/USDT,short,2025-06-13 07:00:00+07:00,2025-06-13 07:30:00+07:00,0.26875,0.26896,0.26739,0.272002,0.26739,0.42

▶ scanning ARB/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,CRV/USDT,long,2025-06-11 07:00:00+07:00,2025-06-11 08:15:00+07:00,0.734,0.599,0.716041,0.716041,0.760939,1.5

▶ scanning ETHFI/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,1000SHIB/USDT,long,2025-06-11 19:30:00+07:00,2025-06-11 21:15:00+07:00,0.013392,0.011847,0.013548,0.013162,0.013548,0.68

▶ scanning TAO/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,NEIRO/USDT,short,2025-06-13 02:30:00+07:00,2025-06-13 02:45:00+07:00,0.000446,0.000401,0.000437,0.000463,0.000437,0.54

▶ scanning PNUT/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ONDO/USDT,short,2025-06-14 01:45:00+07:00,NaT,0.7767,0.7767,NaN,0.79571,0.748186,1.5

▶ scanning KAIA/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ARB/USDT,short,2025-06-14 01:30:00+07:00,NaT,0.3365,0.337,NaN,0.346726,0.321161,1.5

▶ scanning FET/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,KAIA/USDT,short,2025-06-14 01:30:00+07:00,NaT,0.155,0.1548,NaN,0.162312,0.144032,1.5

▶ scanning LPT/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,PNUT/USDT,short,2025-06-12 22:45:00+07:00,2025-06-13 02:30:00+07:00,0.25011,0.22524,0.24774,0.259258,0.24774,0.26

▶ scanning ETC/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ETHFI/USDT,short,2025-06-12 22:45:00+07:00,2025-06-13 01:45:00+07:00,1.201,1.068,1.1862,1.238166,1.1862,0.4

▶ scanning TRB/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,TAO/USDT,short,2025-06-14 01:45:00+07:00,NaT,363.55,363.55,NaN,373.721499,348.292752,1.5

▶ scanning WCT/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,FET/USDT,short,2025-06-14 01:30:00+07:00,None,0.6548,0.6561,None,0.676195,0.622707,1.5

▶ scanning MASK/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,LPT/USDT,long,2025-06-11 11:00:00+07:00,2025-06-11 11:30:00+07:00,8.19,6.862,8.349,7.901547,8.349,0.55

▶ scanning PAXG/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,WCT/USDT,short,2025-06-06 14:30:00+07:00,2025-06-07 00:15:00+07:00,0.4224,0.3797,0.448515,0.448515,0.383227,1.5

▶ scanning INJ/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,MASK/USDT,short,2025-06-13 17:15:00+07:00,2025-06-13 17:30:00+07:00,1.3788,1.3879,1.3533,1.43793,1.3533,0.43

▶ scanning MKR/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,TRB/USDT,short,2025-06-13 17:30:00+07:00,2025-06-13 21:15:00+07:00,40.201,41.37,39.707,41.601522,39.707,0.35

▶ scanning LDO/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ETC/USDT,long,2025-06-11 21:15:00+07:00,2025-06-11 21:30:00+07:00,18.609,16.564,18.661,18.327317,18.661,0.18

▶ scanning POPCAT/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,PAXG/USDT,long,2025-06-13 19:45:00+07:00,2025-06-13 20:00:00+07:00,3460.7,3458.55,3464.55,3443.187907,3464.55,0.22

▶ scanning SYRUP/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,INJ/USDT,short,2025-06-14 01:30:00+07:00,NaT,11.425,11.469,NaN,11.774517,10.900725,1.5

▶ scanning INIT/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,LDO/USDT,short,2025-06-14 01:00:00+07:00,2025-06-14 01:15:00+07:00,0.7975,0.794,0.7914,0.823911,0.7914,0.23

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,SYRUP/USDT,short,2025-06-14 01:45:00+07:00,NaT,0.47135,0.47135,NaN,0.490752,0.442247,1.5

▶ scanning AIXBT/USDT
▶ scanning 1000000BOB/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,MKR/USDT,short,2025-06-13 21:00:00+07:00,2025-06-13 21:15:00+07:00,1865.8,1957.8,1855.8,1926.315534,1855.8,0.17

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,POPCAT/USDT,long,2025-06-11 23:30:00+07:00,2025-06-12 01:00:00+07:00,0.4218,0.3104,0.407707,0.407707,0.44294,1.5

▶ scanning APT/USDT
▶ scanning EIGEN/USDT

▶ scanning GALA/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,GALA/USDT,long,2025-06-08 05:00:00+07:00,2025-06-08 05:30:00+07:00,0.01627,0.01482,0.01638,0.015953,0.01638,0.35

▶ scanning 1000BONK/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,APT/USDT,short,2025-06-13 21:00:00+07:00,2025-06-13 21:15:00+07:00,4.3786,4.415,4.3561,4.479801,4.3561,0.22

▶ scanning VIDT/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,EIGEN/USDT,short,2025-06-13 17:00:00+07:00,2025-06-13 17:45:00+07:00,1.279,1.2653,1.2661,1.334635,1.2661,0.23

▶ scanning AGIX/USDT
▶ scanning KAITO/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,1000000BOB/USDT,short,2025-06-13 12:00:00+07:00,2025-06-13 15:30:00+07:00,0.05849,0.05263,0.05585,0.064389,0.05585,0.45

▶ scanning HUMA/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,1000BONK/USDT,short,2025-06-14 01:30:00+07:00,NaT,0.014392,0.014516,NaN,0.014901,0.013629,1.5

▶ scanning XLM/USDT

▶ scanning ORDI/USDT
▶ scanning HBAR/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,HUMA/USDT,short,2025-06-13 20:15:00+07:00,2025-06-13 22:00:00+07:00,0.037169,0.039972,0.038925,0.038925,0.034535,1.5

▶ scanning AI16Z/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,KAITO/USDT,short,2025-06-13 16:30:00+07:00,2025-06-13 17:30:00+07:00,1.3673,1.42,1.3566,1.415546,1.3566,0.22

▶ scanning S/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,XLM/USDT,short,2025-06-13 21:00:00+07:00,2025-06-13 21:15:00+07:00,0.25759,0.2575,0.25605,0.261089,0.25605,0.44

▶ scanning PENGU/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,S/USDT,short,2025-06-08 14:45:00+07:00,2025-06-08 16:15:00+07:00,0.3754,0.3219,0.3729,0.381185,0.3729,0.43

▶ scanning PENDLE/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ORDI/USDT,short,2025-06-13 02:30:00+07:00,2025-06-13 02:45:00+07:00,8.43,7.72,8.285,8.660557,8.285,0.63

▶ scanning OM/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,AI16Z/USDT,short,2025-06-13 02:30:00+07:00,2025-06-13 02:45:00+07:00,0.1803,0.1727,0.1761,0.18916,0.1761,0.47

▶ scanning COMP/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,HBAR/USDT,short,2025-06-13 02:45:00+07:00,2025-06-13 03:00:00+07:00,0.16549,0.15504,0.16491,0.168142,0.16491,0.22

▶ scanning COOKIE/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,PENGU/USDT,short,2025-06-14 01:30:00+07:00,NaT,0.009579,0.009636,NaN,0.009965,0.009,1.5

▶ scanning PUMPBTC/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,PENDLE/USDT,short,2025-06-13 20:30:00+07:00,2025-06-13 21:00:00+07:00,3.7943,3.732,3.7055,3.920523,3.7055,0.7

▶ scanning PEOPLE/USDT

▶ scanning TON/USDT

▶ scanning JELLYJELLY/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,OM/USDT,long,2025-06-07 21:15:00+07:00,2025-06-08 16:00:00+07:00,0.30747,0.25613,0.300822,0.300822,0.317442,1.5

▶ scanning DYDX/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,COMP/USDT,short,2025-06-13 02:45:00+07:00,2025-06-13 03:30:00+07:00,56.02,52.34,55.1,58.033749,55.1,0.46

▶ scanning LINA/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,PEOPLE/USDT,long,2025-06-11 06:30:00+07:00,2025-06-11 06:45:00+07:00,0.02391,0.01809,0.0241,0.023336,0.0241,0.33

▶ scanning JUP/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,DYDX/USDT,short,2025-06-13 07:00:00+07:00,2025-06-13 07:30:00+07:00,0.509,0.513,0.497,0.523629,0.497,0.82

▶ scanning LA/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,JELLYJELLY/USDT,short,2025-06-13 22:45:00+07:00,2025-06-13 23:00:00+07:00,0.0236,0.03041,0.024541,0.024541,0.022188,1.5

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,TON/USDT,short,2025-06-13 21:00:00+07:00,2025-06-13 21:15:00+07:00,2.9527,2.9754,2.941,3.004984,2.941,0.22

▶ scanning SOPH/USDT
▶ scanning TST/USDT

▶ scanning FTM/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,JUP/USDT,short,2025-06-14 01:45:00+07:00,NaT,0.4087,0.4087,NaN,0.422317,0.388274,1.5

▶ scanning AXL/USDT

▶ scanning ATOM/USDT

▶ scanning 1000FLOKI/USDT

▶ scanning ENS/USDT
▶ scanning ALGO/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,AXL/USDT,short,2025-06-13 01:30:00+07:00,2025-06-13 01:45:00+07:00,0.4563,0.4022,0.4473,0.476223,0.4473,0.45

▶ scanning WAVES/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ATOM/USDT,long,2025-06-11 11:30:00+07:00,2025-06-11 13:15:00+07:00,4.581,4.069,4.6,4.522976,4.6,0.33

▶ scanning ICP/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,1000FLOKI/USDT,long,2025-06-11 23:30:00+07:00,2025-06-12 01:00:00+07:00,0.09694,0.07724,0.094304,0.094304,0.100893,1.5

▶ scanning HMSTR/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ALGO/USDT,short,2025-06-14 01:30:00+07:00,NaT,0.1766,0.1771,NaN,0.180498,0.170752,1.5

▶ scanning SOLV/USDT

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ENS/USDT,short,2025-06-14 01:15:00+07:00,2025-06-14 01:30:00+07:00,19.834,19.821,19.681,20.381838,19.681,0.28

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,ICP/USDT,short,2025-06-14 01:00:00+07:00,2025-06-14 01:15:00+07:00,5.38,5.35,5.35,5.514273,5.35,0.22

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,HMSTR/USDT,short,2025-06-12 19:45:00+07:00,2025-06-12 20:15:00+07:00,0.001054,0.000876,0.001025,0.001119,0.001025,0.45

,symbol,side,entry_time,exit_time,entry_price,current_price,exit_price,stop_loss,take_profit,R:R
0,SOLV/USDT,short,2025-06-07 00:45:00+07:00,2025-06-07 01:00:00+07:00,0.0422,0.04625,0.04187,0.043378,0.04187,0.28

→ Window: 2025-06-04T18:58:20.787149+00:00 → 2025-06-13T18:58:20.787149+00:00

[          symbol   side                entry_time exit_time  entry_price  \
 0  1000PEPE/USDT  short 2025-06-14 01:30:00+07:00       NaT     0.010727

    current_price  exit_price  stop_loss  take_profit  R:R
 0        0.01076         NaN   0.011103     0.010163  1.5  ,
       symbol   side                entry_time exit_time  entry_price  \
 0  AAVE/USDT  short 2025-06-14 01:30:00+07:00       NaT       278.01

    current_price  exit_price  stop_loss  take_profit  R:R
 0         279.88         NaN   286.4126     265.4061  1.5  ,
       symbol   side                entry_time exit_time  entry_price  \
 0  HYPE/USDT  short 2025-06-14 01:30:00+07:00       NaT       40.464

    current_price  exit_price  stop_loss  take_profit  R:R
 0          40.48         NaN  41.836965    38.404552  1.5  ,
        symbol   side                entry_time exit_time  entry_price  \
 0  TRUMP/USDT  short 2025-06-14 01:30:00+07:00       NaT         9.86

    current_price  exit_price  stop_loss  take_profit  R:R
 0          9.878         NaN  10.062613      9.55608  1.5  ,
      symbol   side                entry_time exit_time  entry_price  \
 0  ENA/USDT  short 2025-06-14 01:45:00+07:00       NaT       0.2904

    current_price  exit_price  stop_loss  take_profit  R:R
 0         0.2904         NaN   0.301448     0.273828  1.5  ,
       symbol   side                entry_time exit_time  entry_price  \
 0  AVAX/USDT  short 2025-06-14 01:30:00+07:00       NaT       18.942

    current_price  exit_price  stop_loss  take_profit  R:R
 0         18.988         NaN  19.411647     18.23753  1.5  ,
          symbol   side                entry_time exit_time  entry_price  \
 0  VIRTUAL/USDT  short 2025-06-14 01:45:00+07:00       NaT       1.8225

    current_price  exit_price  stop_loss  take_profit  R:R
 0         1.8225         NaN   1.896325     1.711763  1.5  ,
      symbol   side                entry_time exit_time  entry_price  \
 0  DOT/USDT  short 2025-06-14 01:30:00+07:00       NaT        3.763

    current_price  exit_price  stop_loss  take_profit  R:R
 0          3.764         NaN   3.837576     3.651136  1.5  ,
      symbol   side                entry_time exit_time  entry_price  \
 0  TIA/USDT  short 2025-06-14 01:45:00+07:00       NaT       1.7421

    current_price  exit_price  stop_loss  take_profit  R:R
 0         1.7421         NaN   1.800162     1.655007  1.5  ,
        symbol   side                entry_time exit_time  entry_price  \
 0  ANIME/USDT  short 2025-06-14 01:45:00+07:00       NaT      0.02326

    current_price  exit_price  stop_loss  take_profit  R:R
 0        0.02326         NaN   0.024922     0.020767  1.5  ,
       symbol   side                entry_time exit_time  entry_price  \
 0  ONDO/USDT  short 2025-06-14 01:45:00+07:00       NaT       0.7767

    current_price  exit_price  stop_loss  take_profit  R:R
 0         0.7767         NaN    0.79571     0.748186  1.5  ,
      symbol   side                entry_time exit_time  entry_price  \
 0  ARB/USDT  short 2025-06-14 01:30:00+07:00       NaT       0.3365

    current_price  exit_price  stop_loss  take_profit  R:R
 0          0.337         NaN   0.346726     0.321161  1.5  ,
       symbol   side                entry_time exit_time  entry_price  \
 0  KAIA/USDT  short 2025-06-14 01:30:00+07:00       NaT        0.155

    current_price  exit_price  stop_loss  take_profit  R:R
 0         0.1548         NaN   0.162312     0.144032  1.5  ,
      symbol   side                entry_time exit_time  entry_price  \
 0  TAO/USDT  short 2025-06-14 01:45:00+07:00       NaT       363.55

    current_price  exit_price   stop_loss  take_profit  R:R
 0         363.55         NaN  373.721499   348.292752  1.5  ,
      symbol   side                entry_time exit_time  entry_price  \
 0  FET/USDT  short 2025-06-14 01:30:00+07:00      None       0.6548

    current_price exit_price  stop_loss  take_profit  R:R
 0         0.6561       None   0.676195     0.622707  1.5  ,
      symbol   side                entry_time exit_time  entry_price  \
 0  INJ/USDT  short 2025-06-14 01:30:00+07:00       NaT       11.425

    current_price  exit_price  stop_loss  take_profit  R:R
 0         11.469         NaN  11.774517    10.900725  1.5  ,
        symbol   side                entry_time exit_time  entry_price  \
 0  SYRUP/USDT  short 2025-06-14 01:45:00+07:00       NaT      0.47135

    current_price  exit_price  stop_loss  take_profit  R:R
 0        0.47135         NaN   0.490752     0.442247  1.5  ,
           symbol   side                entry_time exit_time  entry_price  \
 0  1000BONK/USDT  short 2025-06-14 01:30:00+07:00       NaT     0.014392

    current_price  exit_price  stop_loss  take_profit  R:R
 0       0.014516         NaN   0.014901     0.013629  1.5  ,
        symbol   side                entry_time exit_time  entry_price  \
 0  PENGU/USDT  short 2025-06-14 01:30:00+07:00       NaT     0.009579

    current_price  exit_price  stop_loss  take_profit  R:R
 0       0.009636         NaN   0.009965        0.009  1.5  ,
      symbol   side                entry_time exit_time  entry_price  \
 0  JUP/USDT  short 2025-06-14 01:45:00+07:00       NaT       0.4087

    current_price  exit_price  stop_loss  take_profit  R:R
 0         0.4087         NaN   0.422317     0.388274  1.5  ,
       symbol   side                entry_time exit_time  entry_price  \
 0  ALGO/USDT  short 2025-06-14 01:30:00+07:00       NaT       0.1766

    current_price  exit_price  stop_loss  take_profit  R:R
 0         0.1771         NaN   0.180498     0.170752  1.5  ]

In [4]:
from datetime import datetime

timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

if open_trades:
    df_active = pd.concat(open_trades, ignore_index=True)

    # Clean up DataFrame
    df_active = df_active.drop(columns=["exit_time", "exit_price"], errors="ignore")
    df_active = df_active.sort_values("entry_time", ascending=False)
    df_active["entry_time"] = pd.to_datetime(df_active["entry_time"]).dt.strftime("%m-%d %H:%M")
    
    # Round float columns for readability
    float_cols = df_active.select_dtypes(include='number').columns

    # Prepare formatted string
    formatted = df_active.tail(10).to_string(index=False)


    with open("summary.txt", "w") as f:
        f.write(f"{timestamp}\n")
        f.write(formatted + "\n")

    # Display in notebook
    print("\n📋 Active orders:")
    display(df_active)

else:
    with open("summary.txt", "w") as f:
        f.write(f"{timestamp}\n")
        f.write("No active trades at the moment.\n")

📋 Active orders:

,symbol,side,entry_time,entry_price,current_price,stop_loss,take_profit,R:R
10,ONDO/USDT,short,06-14 01:45,0.776700,0.776700,0.795710,0.748186,1.5
13,TAO/USDT,short,06-14 01:45,363.550000,363.550000,373.721499,348.292752,1.5
19,JUP/USDT,short,06-14 01:45,0.408700,0.408700,0.422317,0.388274,1.5
4,ENA/USDT,short,06-14 01:45,0.290400,0.290400,0.301448,0.273828,1.5
6,VIRTUAL/USDT,short,06-14 01:45,1.822500,1.822500,1.896325,1.711763,1.5
16,SYRUP/USDT,short,06-14 01:45,0.471350,0.471350,0.490752,0.442247,1.5
8,TIA/USDT,short,06-14 01:45,1.742100,1.742100,1.800162,1.655007,1.5
9,ANIME/USDT,short,06-14 01:45,0.023260,0.023260,0.024922,0.020767,1.5
18,PENGU/USDT,short,06-14 01:30,0.009579,0.009636,0.009965,0.009000,1.5
17,1000BONK/USDT,short,06-14 01:30,0.014392,0.014516,0.014901,0.013629,1.5
15,INJ/USDT,short,06-14 01:30,11.425000,11.469000,11.774517,10.900725,1.5
14,FET/USDT,short,06-14 01:30,0.654800,0.656100,0.676195,0.622707,1.5
0,1000PEPE/USDT,short,06-14 01:30,0.010727,0.010760,0.011103,0.010163,1.5
12,KAIA/USDT,short,06-14 01:30,0.155000,0.154800,0.162312,0.144032,1.5
11,ARB/USDT,short,06-14 01:30,0.336500,0.337000,0.346726,0.321161,1.5
1,AAVE/USDT,short,06-14 01:30,278.010000,279.880000,286.412600,265.406100,1.5
7,DOT/USDT,short,06-14 01:30,3.763000,3.764000,3.837576,3.651136,1.5
5,AVAX/USDT,short,06-14 01:30,18.942000,18.988000,19.411647,18.237530,1.5
3,TRUMP/USDT,short,06-14 01:30,9.860000,9.878000,10.062613,9.556080,1.5
2,HYPE/USDT,short,06-14 01:30,40.464000,40.480000,41.836965,38.404552,1.5
20,ALGO/USDT,short,06-14 01:30,0.176600,0.177100,0.180498,0.170752,1.5